.sign-up__wrapper {
  display: flex;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .sign-up__form {
    display: flex;
    flex-flow: column;
    width: 28%;
    height: 50%;
    justify-content: space-between;
    align-items: center;

    .sign-up__error {
      color: red;
      font-size: 14px;
    }

    a {
      text-decoration: none;
      color: black;
      margin-top: 20px;
      font-weight: bold;
      font-size: 13px;
    }

    a:hover {
      opacity: 0.5;
    }

    label {
      .sign-up__input {
        border: 1px solid #EBEBEB;
        font-size: 15px;
        text-transform: none;
        outline: none;
      }
    }
  }

  .sign-up__logo {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #707070;
    margin-bottom: 70px;
  }

  .sign-up__top-of-login {
    background-color: #3054E1;
    height: 40px;
    min-width: 303px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

